---
const path = Astro.url.pathname;
const active = (prefix: string) =>
  prefix === '/ibbm/'
    ? path === '/ibbm/' || path === '/finhub'
    : path.startsWith(prefix);
---
<nav class="nav">
  <div class="nav-inner">
    <a href="/ibbm/" class="nav-logo">I Beat<span>BM</span></a>
    <ul class="nav-links">
      <li><a href="/ibbm/" class:list={[{ active: active('/ibbm/') }]}>Home</a></li>

      <li class="nav-dropdown">
        <a href="/ibbm/unit1/" class:list={[{ active: active('/ibbm/unit1') }]}>Unit 1: Intro</a>
        <ul class="nav-dropdown-menu">
          <li><a href="/ibbm/unit1/1-1/">1.1 What is a Business?</a></li>
          <li><a href="/ibbm/unit1/1-2/">1.2 Types of Business Entities</a></li>
          <li><a href="/ibbm/unit1/1-3/">1.3 Business Objectives</a></li>
          <li><a href="/ibbm/unit1/1-4/">1.4 Stakeholders</a></li>
          <li><a href="/ibbm/unit1/1-5/">1.5 Growth and Evolution</a></li>
          <li><a href="/ibbm/unit1/1-6/">1.6 Multinational Companies</a></li>
        </ul>
      </li>

      <li class="nav-dropdown">
        <a href="/ibbm/unit3/" class:list={[{ active: active('/ibbm/unit3') }]}>Unit 3: Finance</a>
        <ul class="nav-dropdown-menu">
          <li><a href="/ibbm/unit3/3-1/">3.1 Introduction to Finance</a></li>
          <li><a href="/ibbm/unit3/3-2/">3.2 Sources of Finance</a></li>
          <li><a href="/ibbm/unit3/3-3/">3.3 Costs and Revenues</a></li>
          <li><a href="/ibbm/unit3/3-4/">3.4 Final Accounts</a></li>
          <li><a href="/ibbm/unit3/3-5/">3.5 Profitability &amp; Liquidity Ratios</a></li>
          <li><a href="/ibbm/unit3/3-6/">3.6 Efficiency Ratio Analysis</a></li>
          <li><a href="/ibbm/unit3/3-7/">3.7 Cash Flow</a></li>
          <li><a href="/ibbm/unit3/3-8/">3.8 Investment Appraisal</a></li>
          <li><a href="/ibbm/unit3/3-9/">3.9 Budgets</a></li>
          <li><a href="/ibbm/unit3/5-5/">5.5 Break-Even Analysis</a></li>
        </ul>
      </li>

      <li><a href="/ibbm/casestudies/" class:list={[{ active: active('/ibbm/casestudies') }]}>Case Studies</a></li>
      <li><a href="/ratibro/" class="nav-ratibro">Practice at Ratibro</a></li>
    </ul>
  </div>
</nav>
